:root {
    /* colors  */
    --red-btn: #FF6565;
    --dark-blue: #071629;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.footer {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin-bottom: 0;
  color: white;
  font-size: 12px;
  padding: 40px 0;
}

.icHolder {
  color: white;
  font-size: 30px;
}

.footerI {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  padding: 40px 0;
  
}

.footerI img {
  width: 160px;
}


.results {
  background-image: url(./images/headphones_hero_2.jpg);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}

.limits {
  max-width: 1300px;
  margin: 0 auto;
}

.resultBox {
  width: 190px;
  height: 190px;
  padding: 20px;
  background-image: url(./images/pentagone.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results p {
  color: white;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
  padding: 50px 0;
}

.resultBox h1 {
  color: white;
  font-size: 46px;
  line-height: 26px;
}
.resultBox p {
  color: white;
  font-size: 14px;
  line-height: 26px;
}

.whatwedo {
  color: black;
}

.holberton_school-icon-ic_sound,
.holberton_school-icon-ic_video,
.holberton_school-icon-ic_music,
.holberton_school-icon-ic_hearing {
  font-size: 95px;
  /* width: ; */
  color: var(--red-btn);
}

.form {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  gap: 20px;
}



input,
textarea {
  padding: 12px;
  border:  none;
  border-bottom:  1px solid black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}


.call:hover {
  opacity: 0.9;
}

.box {
  width: 210px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.box p {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.whatwedo {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
}

.boxWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px 0 100px 0;
}

.whatwedo p {
  font-size: 16px;
  line-height: 26px;
  max-width: 650px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.hero {
  position: relative;
  background-image: url(./images/headphones_hero_1.jpg);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  color: white; 
}

.burger {
    display: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0;
    padding: 20px 0;
}

.mobile-nav {
  display: none;
  flex-direction: column;
  padding: 0 20px 20px 20px;
  text-align: center;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 5;
}
.mobile-nav a {
    padding: 10px 0;
}

#burger-toggle:checked ~ .mobile-nav {
  display: flex;
}

.container a:hover {
    color: var(--red-btn);
}

.desktop-nav {
    display: flex;
    gap: 15px;
    margin-top: 10px;   
}

.logo {
    width: 160px;
}
.hero-content {
  max-width: 1000px;
  margin: 90px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 250px 20px 20px 20px;
} 

.hero-content h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

.firstP {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
}

.call,.hero-content button {
    background-color: var(--red-btn);
    outline: none;
    border: none;
    width: 160px;
    height: 44px;
    border-radius: 25px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 30px 0;
    cursor: pointer;
}

.secondP {
    font-size: 16px;
    text-align: center;
    max-width: 680px;
    line-height: 26px;
    padding: 70px 0;
}


@media (max-width: 480px) {

  .resultBox {
    padding-bottom: 45px;
  }

  .whatwedo p {
    max-width: 400px;
    margin: 0 auto;
  }

  .boxWrapper {
    flex-wrap: wrap
  }
    .desktop-nav {
        display: none;
    }
    .hero {
        background-position: top;
    }
  .container {
    flex-direction: row;
    /* align-items: center; */  
    text-align: center;
    justify-content: center;
    padding: 10px 20px;
  }



  .logo {
    width: 160px;
  }

  .hero-content {
    padding: 100px 20px 40px 20px;
    margin: 40px auto;
  }

  .hero-content h1 {
    font-size: 32px;
    line-height: 1.4;
    text-align: center;
}

.firstP {
    text-align: center;
    font-size: 16px;
    text-align: center;
  }

  .hero-content button {
    width: 140px;
    height: 40px;
    font-size: 13px;
  }

  .secondP {
    font-size: 14px;
    line-height: 22px;
    padding: 50px 0;
    max-width: 100%;
    text-align: center;
  }

  .burger {
    display: block;
    position: absolute;
    left: 10%;
  }

  .footerI {
    flex-direction: column;
  }

  .icHolder {
    padding-top: 20px;
  }

  .footer p {
    padding: 0 0 10px 0;
  }
}